@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Source+Serif+4:ital,wght@0,400;0,600;1,400&family=DM+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand:        #FF9237;
  --color-brand-dark:   #CC7420;
  --color-bg:           #F5F5F5;
  --color-surface:      #FFFFFF;
  --color-text-primary: #0D0D0D;
  --color-text-muted:   #666666;
  --color-border:       #E0E0E0;
  --color-tag-bg:       #FFF4EC;
  --color-tag-text:     #FF9237;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: "DM Sans", sans-serif;
}

.artikel-inhoud a {
  color: #FF9237;
  text-decoration: underline;
}
